
{% extends "base.html" %}
{% block content %}
<ul>
  <li>Абдулино</li>
  <li>Абдулинский район</li>
  <li>Адамовский район</li>
  <li>Акбулакский район</li>
  <li>Александровский район</li>
  <li>Асекеевский район</li>
  <li>Беляевский район</li>
  <li>Бугуруслан</li>
  <li>Бугурусланский район</li>
  <li>Бузулук</li>
  <li>Бузулукский район</li>
  <li>Гай</li>
  <li>Гайский район</li>
  <li>Грачёвский район</li>
  <li>Домбаровский район</li>
  <li>Илекский район</li>
  <li>Кваркенский район</li>
  <li>Красногвардейский район</li>
  <li>Кувандык</li>
  <li>Кувандыкский район</li>
  <li>Курманаевский район</li>
  <li>Матвеевский район</li>
  <li>Медногорск</li>
  <li>Новоорский район</li>
  <li>Новосергиевский район</li>
  <li>Новотроицк</li>
  <li>Октябрьский район</li>
  <li>Оренбург</li>
  <li>Оренбургский район</li>
  <li>Орск</li>
  <li>Первомайский район</li>
  <li>Переволоцкий район</li>
  <li>Пономарёвский район</li>
  <li>Сакмарский район</li>
  <li>Саракташский район</li>
  <li>Светлинский район</li>
  <li>Северный район</li>
  <li>Соль-Илецк</li>
  <li>Соль-Илецкий район</li>
  <li>Сорочинск</li>
  <li>Сорочинский район</li>
  <li>Ясный</li>
</ul>
{% endblock %}